<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla incidunt ullam voluptatibus ducimus vero recusandae sit, repellendus adipisci dolor voluptates eum rerum blanditiis? Aliquid rem dolore aperiam vel debitis hic, rerum exercitationem animi ratione maxime. Aut, nihil architecto rem ipsam quisquam tempora accusantium aliquam quo velit reiciendis minima itaque distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla incidunt ullam voluptatibus ducimus vero recusandae sit, repellendus adipisci dolor voluptates eum rerum blanditiis? Aliquid rem dolore aperiam vel debitis hic, rerum exercitationem animi ratione maxime. Aut, nihil architecto rem ipsam quisquam tempora accusantium aliquam quo velit reiciendis minima itaque distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla incidunt ullam voluptatibus ducimus vero recusandae sit, repellendus adipisci dolor voluptates eum rerum blanditiis? Aliquid rem dolore aperiam vel debitis hic, rerum exercitationem animi ratione maxime. Aut, nihil architecto rem ipsam quisquam tempora accusantium aliquam quo velit reiciendis minima itaque distinctio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla incidunt ullam voluptatibus ducimus vero recusandae sit, repellendus adipisci dolor voluptates eum rerum blanditiis? Aliquid rem dolore aperiam vel debitis hic, rerum exercitationem animi ratione maxime. Aut, nihil architecto rem ipsam quisquam tempora accusantium aliquam quo velit reiciendis minima itaque distinctio?</p>
    
    </div>
</div>
