<div *ngIf="posts.length; else loading" class="dashboard-container">
    <div class="form-control">
        <input type="text" placeholder="Найти пост..." [(ngModel)]="searchStr">
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th class="author">Автор</th>
                <th>Название</th>
                <th class="date">Дата</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td class="green">{{ post.author }}</td>
                <td>{{ post.title }}</td>
                <td class="green">{{ post.date | date:'longDate':undefined:'ru' }}</td>
                <td class="switch">
                    <button
                    class="button-link-db"
                    [routerLink]="['/admin', 'post', post.id, 'edit']"
                    >
                    Открыть
                    </button>
                    <a (click)="remove(post.id!)" class="button-link-db delete">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
</ng-template>
